## STRINGS

In [2]:
num = 12
name = 'Sam'

In [4]:
x = 'My name is {} and number is {} '.format(name,num)

In [5]:
print(x)

My name is Sam and number is 12

In [7]:
print('My name is {a} and number is {b} '.format(a=name,b=num))

My name is Sam and number is 12

In [9]:
print('My name is {0} and number is {1} '.format(num,name))

My name is 12 and number is Sam

In [10]:
# INDEXING STRINGS

In [11]:
s = 'hello'

In [12]:
s[0]

'h'

In [13]:
s[4]

'o'

In [14]:
s[-1]

'o'

In [15]:
# SLICE
s = "abcdefghijk"

In [16]:
s[0:]

'abcdefghijk'

In [17]:
s[:4]

'abcd'

In [18]:
s[0:3]

'abc'

In [19]:
s[3:6]

'def'

## LIST

In [20]:
mylist = ['a','b','c']

In [21]:
mylist.append('d')
mylist

['a', 'b', 'c', 'd']

In [40]:
nest = [1,2,[3,4]]
nest[2][1]

4

Shallow Copy - Deep Copy 
('https://www.udemy.com/python-for-data-science-and-machine-learning-bootcamp/learn/v4/questions/4906756')

In [41]:
list1 = [1,2,3,4]
list2 = list1
list1[0] = 0
print(list2)

[0, 2, 3, 4]

In [64]:
d = { 'key1':'a' , 'key2':'b' }

In [65]:
b = d
d['key3'] = d.pop('key2')
b

{'key1': 'a', 'key3': 'b'}

In [69]:
s = 'hello'
t = s
s = s.upper()
t

'hello'

## DICTIONARIES

In [23]:
d = { 'key1':'a' , 'key2':'b' }

In [24]:
d[0]

KeyError: 0

In [25]:
d['key1']

'a'

In [32]:
print(d.items())
print(d.keys())
print(d.values(k))

dict_items([('key1', 'a'), ('key2', 'b')])
dict_keys(['key1', 'key2'])
dict_values(['a', 'b'])

In [37]:
d1 = { 'k1':[1,2,3] }

In [38]:
mylist = d1['k1']

In [39]:
mylist[0]

1

In [40]:
d1['k1'][2]

3

In [43]:
 d2 = { 'k1':{ 'innerkey': [1,2,3] } }

In [46]:
d2['k1']['innerkey']

[1, 2, 3]

## Tuple

In [42]:
t = (1,2,3)

Difference between list and tuple - MUTABILITY <br>Tuple is not mutable , list is

## SETS

 holds unique elements

In [50]:
{1,1,1,1,1,2,2,2,2,2}

{1, 2}

In [52]:
s = set([1,1,1,1,2,2,2,3,3,3])

In [59]:
s.add(5)

In [60]:
s = set('Mississippi')
s

{'M', 'i', 'p', 's'}

In [57]:
s = set(['Mississippi'])
s.add('Mississippi')
s.add('Boston')
s

{'Boston', 'Mississippi'}

In [63]:
list1 = [1,2,3,4]
list2 = list1
list1.append(5)
print(list2)

[1, 2, 3, 4, 5]

In [64]:
b = (1)
type(b)

int

In [65]:
c = (1,)
type(c)

tuple

## Conditionals -if/elif/else

In [72]:
name = 'm'
if name == 'hello':
    print(name,'world')
elif name == 'world':
    print('HELLO',name.upper())
else:
    print('Welcome to else')

Welcome to else

## Loops

For loop

In [1]:
seq = [1,2,3,4,5]

In [2]:
for num in seq:
    print(num)

1
2
3
4
5

In [3]:
i = 1
while i<5 :
    print('i is {}'.format(i))
    i += 1

i is 1
i is 2
i is 3
i is 4

Range

range() : generator of values

In [38]:
a = range(0,5,1)
print(type(a))

<class 'range'>

In [6]:
for x in range(0,5,1):
    print(x,end=' ')

0 1 2 3 4

In [11]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [12]:
list(range(5))

[0, 1, 2, 3, 4]

#### LIST COMPREHENSIONS

In [13]:
x = [1,2,3,4]

In [14]:
out = []
for num in x:
    out.append(num**2)

In [16]:
print(out)

[1, 4, 9, 16]

In [17]:
print([ num**2 for num in x ])

[1, 4, 9, 16]

## Functions

In [18]:
# KEYWORD - def

In [34]:
def myfunc(param1 = 'Nice' ):
    '''
    THIS IS A DOCSTRING.
    THIS FUNCTIONS GREETS WITH A MESSAGE
    '''
    print(param1,'world')

In [35]:
print(myfunc())
print(myfunc('hello'))

Nice world
None
hello world
None

In [36]:
myfunc

### Map/Filter/Lambda Exp

In [73]:
def times2(var):
    return var*2

In [74]:
times2(5)

10

In [75]:
seq = [1,2,3,4,5]
map(times2,seq)

In [76]:
print(map(times2,seq))

<map object at 0x000001AF4818F748>

In [77]:
print(list(map(times2,seq)))

[2, 4, 6, 8, 10]

Generally we use <code> map() </code> as a one-time thing.<br>
To create smaller version of function , we use <b> Lambda expressions . </b>

In [79]:
lambda var:var*2

In [80]:
t = lambda var:var*2
t(6)

12

In [78]:
list((map( lambda var:var*2 , seq )))

[2, 4, 6, 8, 10]

<pre>
<b>Map</b> - 'maps' a function to every element.
<b>Filter</b> - 'filters' element based on the function.
          function must return a boolean.
</pre>

In [82]:
filter(lambda var: var%2==0 , seq)

In [83]:
list(filter(lambda var: var%2 == 0 , seq))

[2, 4]

In [103]:
d = dict( odd_numbers = list(filter(lambda num:num%2!=0 ,seq)) )
d

{'odd_numbers': [1, 3, 5]}

#### Common Methods of strings , lists ,dict

In [89]:
'''
STRING:
upper , lower , split
DICT:
keys , items , values , pop
LIST
join , pop , remove , append 
'''
print('x' in [1,2,3])
print('x' not in [1,2,3])

False
True

### Tuple Unpacking

In [93]:
x = [ (1,2) , (3,4) , (5,6) ]
# LIST OF TUPLES
# TO ACCESS DIFFERENT ELEMENTS
print('x :',x)
print('values :',x[0],x[1])
print( x[0][0] , x[0][1] )

x : [(1, 2), (3, 4), (5, 6)]
values : (1, 2) (3, 4)
1 2

In [97]:
# WHEN WE ITERATE OVER ITERABLE OF TUPLES ,we can 'unpack '
# them as we go along

In [98]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [101]:
for (a,b) in x:
    print(a)

1
3
5

In [102]:
for a,b in x:
    print(a,b,sep='\n')

1
2
3
4
5
6